(
    up: Or([
        Key((
            code: Up,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
        Key((
            code: W,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
    ]),
    down: Or([
        Key((
            code: Down,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
        Key((
            code: S,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
    ]),
    left: Or([
        Key((
            code: Left,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
        Key((
            code: A,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
    ]),
    right: Or([
        Key((
            code: Right,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
        Key((
            code: D,
            repeat: NotRepeated,
            state: Down,
            toggle: Hold,
        )),
    ]),
)